#mocha .test a.replay {
  display: none;
}

#mocha h1 a {
  pointer-events: none;
}

header {
  background-color: grey;
}
h2 {
    background-color: cornflowerblue;
}
h3 {
    background-color: ghostwhite;
    color: blue;
}
